img {
    width: 250px;
    margin-bottom: 20px;
}

.weather-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cityName, .temp{
    color: rgb(53, 53, 53);
    font-weight: 600;
    font-size: 25px;
}

.weather-result-details {
    width: 100%;
    padding: 0em 1em;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.humidity, .wind {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 0.5em;
}

.humidity span , .wind span {
    font-size: 14px;
    font-weight: 600;
}

.humidity p , .wind p {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found img {
    margin-top: 1em;
}

.not-found span {
    color: rgb(173, 8, 8);
    font-size: 18px;
    font-weight: 500;
}