@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    height: 100vh;
    background-color: #06283D;
    display: flex;
    align-items: center;
    justify-content: center;
}